@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased;
      font-family: 'Poppins', sans-serif; 
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  
  .btn-primary {
    @apply bg-accent hover:bg-accent-dark text-gray-900 font-semibold px-6 py-6 rounded transition-colors duration-300;
  }
  
  .btn-secondary {
    @apply bg-primary hover:bg-primary-dark text-white font-semibold px-6 py-6 rounded transition-colors duration-300;
  }
}
